html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

footer {
  background: #000; /* dark */
  color: #fff;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 0;
}



.hero {
  background: linear-gradient(to right, #25a5ef, #27AE60);
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.btn-primary:hover {
  background-color: #219150;
}

.btn-primary {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 50px; 
}

.role-box {
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.role-box:hover {
  transform: translateY(-5px);
}
.role-box h3 {
  color: #2D9CDB;
}
.role-box p {
  color: #555;
}


